<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
  <h2>hey <%- name %> </h2>
  <p>please click this button button to confirm your payment</p>
  <a href="<%- url %>">
    <button> confirm payment </button>
  </a>
</body>
</html>