<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input new password</title>
</head>
<body>
  <form action="<%- url %>" method="post">
    <label for="">New Password</label>
    <input type="password" name="new_password" id="new_password">
    <button>change password</button>
  </form>
</body>
</html>