<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <form action="/auth/register" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email"><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br>
    <label for="name">Name</label>
    <input type="text" name="name" id="name"><br>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>