<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank you for registering on the Challenge-8 app</title>
</head>
<body>
  <h1>Welcome to Challenge-8 app</h1>
  <script src="../utils/notification/client.js"></script>
</body>
</html>